from google.colab import drive
drive.mount('/content/drive')
# 安装必要的依赖（若尚未安装）
!pip install transformers torch datasets evaluate
# 安装必要的依赖
!pip install transformers torch googletrans==3.1.0a0
!pip install ipywidgets
